In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('housing_prices_cleaned.csv')
data.head()

,locality_name,region_name,price,area,construction_status,house_type,bhk,new_resale,age
0,Tarwala Nagar,Nashik,8499000.0,2260.0,Under Construction,Apartment,4.0,New,-1.0
1,Dombivali,Mumbai,6790000.0,500.0,Under Construction,Apartment,2.0,New,0.0
2,Wagholi,Pune,6030000.0,773.0,Under Construction,Apartment,3.0,New,-3.0
3,Ambegaon Budruk,Pune,3537000.0,477.0,Ready to move,Apartment,1.0,New,0.5
4,Dombivali,Mumbai,9500000.0,917.0,Under Construction,Apartment,3.0,New,-3.0